.timer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e0e0e0;
  border-radius: 20px;
  padding: 20px;
}

.select-wrapper {
  margin: 20px 0;
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #b4b4b4, -4px -4px 8px #ffffff;
  padding: 10px;
  display: inline-block;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: #e0e0e0;
  border-radius: 50%;
  box-shadow: inset 8px 8px 15px #b4b4b4, inset -8px -8px 15px #ffffff;
}

svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.background-circle {
  fill: none;
  stroke: #d6d6d6;
  stroke-width: 20;
}

.progress-circle {
  fill: none;
  stroke: #4db8ff;
  stroke-width: 20;
  transition: stroke-dashoffset 1s linear;
  stroke-dasharray: 565.48; 
}

.time-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #4db8ff;
  text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #b4b4b4;
}

.controls {
  margin-top: 20px;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: transparent;
}

button.start:hover {
  background-color: #4caf50;
  box-shadow: 2px 2px 5px #4caf50, -2px -2px 5px #ffffff;
  color: white;
}

button.stop:hover {
  background-color: #f44336;
  box-shadow: 2px 2px 5px #f44336, -2px -2px 5px #ffffff;
  color: white;
}

button.reset:hover {
  background-color: #ff9800;
  box-shadow: 2px 2px 5px #ff9800, -2px -2px 5px #ffffff;
  color: white;
}
